html,
body {
	padding:0;
	margin:0;
	height: 100%;
}

#background{
	background-image: url("b.jpg"); 
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: table;
	height: 100%;
	width: 100%;

}
#loginContainer * {
	color: white;
	font-family: "helvetica neue","helvetica", "Arial";
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}
#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}
#inputContainer{
	width: 400px;
	padding:45px;
	float: left;
	border-right: 1px solid #999;
}
#inputContainer h2{
	text-align: center;
}
#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]{
	display: block;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	height:27px;
	width: 100%;
}